<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beach_M_Zombie_BODY.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>36</integer>
		<key>offsetX</key>
		<integer>9</integer>
		<key>offsetY</key>
		<integer>11</integer>
		<key>pivotX</key>
		<real>0.63</real>
		<key>pivotY</key>
		<real>0.34000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>39</integer>
		<key>x</key>
		<integer>86</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>beach_M_Zombie_FOOT.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>14</integer>
		<key>offsetX</key>
		<integer>1</integer>
		<key>offsetY</key>
		<integer>7</integer>
		<key>pivotX</key>
		<real>0.75</real>
		<key>pivotY</key>
		<real>0.90000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>18</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>44</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>beach_M_Zombie_FOOT.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>14</integer>
		<key>offsetX</key>
		<integer>13</integer>
		<key>offsetY</key>
		<integer>7</integer>
		<key>pivotX</key>
		<real>0.75</real>
		<key>pivotY</key>
		<real>0.90000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>18</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>44</integer>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<key>beach_M_Zombie_HEAD.png</key>
	<dict>
		<key>actorTag</key>
		<integer>16</integer>
		<key>height</key>
		<integer>42</integer>
		<key>offsetX</key>
		<integer>7</integer>
		<key>offsetY</key>
		<integer>36</integer>
		<key>pivotX</key>
		<real>0.69405132532119751</real>
		<key>pivotY</key>
		<real>0.80611583776772022</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>84</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>11</integer>
	</dict>
</dict>
</plist>
