<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cinco_de_mayo_brainata_fr01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{41, 8}, {135, 199}}</string>
			<key>spriteOffset</key>
			<string>{-8, 55}</string>
			<key>spriteSize</key>
			<string>{135, 199}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{620, 209}, {135, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {163, 201}}</string>
			<key>spriteOffset</key>
			<string>{-22, 54}</string>
			<key>spriteSize</key>
			<string>{163, 201}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 398}, {163, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 8}, {163, 201}}</string>
			<key>spriteOffset</key>
			<string>{-22, 54}</string>
			<key>spriteSize</key>
			<string>{163, 201}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 179}, {163, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{25, 8}, {151, 203}}</string>
			<key>spriteOffset</key>
			<string>{-16, 53}</string>
			<key>spriteSize</key>
			<string>{151, 203}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 591}, {151, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{52, 8}, {125, 203}}</string>
			<key>spriteOffset</key>
			<string>{-2, 53}</string>
			<key>spriteSize</key>
			<string>{125, 203}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 796}, {125, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr06.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{52, 8}, {125, 207}}</string>
			<key>spriteOffset</key>
			<string>{-2, 51}</string>
			<key>spriteSize</key>
			<string>{125, 207}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 591}, {125, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr07.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 8}, {157, 169}}</string>
			<key>spriteOffset</key>
			<string>{-18, 70}</string>
			<key>spriteSize</key>
			<string>{157, 169}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 382}, {157, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr08.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 8}, {141, 169}}</string>
			<key>spriteOffset</key>
			<string>{-11, 70}</string>
			<key>spriteSize</key>
			<string>{141, 169}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 806}, {141, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr09.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 8}, {149, 169}}</string>
			<key>spriteOffset</key>
			<string>{-15, 70}</string>
			<key>spriteSize</key>
			<string>{149, 169}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{469, 209}, {149, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 8}, {157, 169}}</string>
			<key>spriteOffset</key>
			<string>{-18, 70}</string>
			<key>spriteSize</key>
			<string>{157, 169}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 0}, {157, 169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {165, 177}}</string>
			<key>spriteOffset</key>
			<string>{-22, 66}</string>
			<key>spriteSize</key>
			<string>{165, 177}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 0}, {165, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 8}, {157, 187}}</string>
			<key>spriteOffset</key>
			<string>{-19, 61}</string>
			<key>spriteSize</key>
			<string>{157, 187}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 209}, {157, 187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 8}, {141, 203}}</string>
			<key>spriteOffset</key>
			<string>{-11, 53}</string>
			<key>spriteSize</key>
			<string>{141, 203}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 601}, {141, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 8}, {141, 207}}</string>
			<key>spriteOffset</key>
			<string>{-11, 51}</string>
			<key>spriteSize</key>
			<string>{141, 207}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 179}, {141, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 8}, {141, 207}}</string>
			<key>spriteOffset</key>
			<string>{-11, 51}</string>
			<key>spriteSize</key>
			<string>{141, 207}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 382}, {141, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 8}, {141, 207}}</string>
			<key>spriteOffset</key>
			<string>{-11, 51}</string>
			<key>spriteSize</key>
			<string>{141, 207}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{487, 0}, {141, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{35, 8}, {141, 207}}</string>
			<key>spriteOffset</key>
			<string>{-11, 51}</string>
			<key>spriteSize</key>
			<string>{141, 207}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 553}, {141, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 8}, {159, 207}}</string>
			<key>spriteOffset</key>
			<string>{-20, 51}</string>
			<key>spriteSize</key>
			<string>{159, 207}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {159, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{42, 8}, {135, 201}}</string>
			<key>spriteOffset</key>
			<string>{-7, 54}</string>
			<key>spriteSize</key>
			<string>{135, 201}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{165, 388}, {135, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr20.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{38, 8}, {139, 199}}</string>
			<key>spriteOffset</key>
			<string>{-9, 55}</string>
			<key>spriteSize</key>
			<string>{139, 199}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{590, 553}, {139, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cinco_de_mayo_brainata_fr21.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{41, 8}, {135, 199}}</string>
			<key>spriteOffset</key>
			<string>{-8, 55}</string>
			<key>spriteSize</key>
			<string>{135, 199}</string>
			<key>spriteSourceSize</key>
			<string>{233, 325}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{630, 0}, {135, 199}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>brainata</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>brainata_default</string>
			<key>name</key>
			<string>default</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>brainata_default</string>
		</dict>
		<key>version</key>
		<string>1.5.5</string>
	</dict>
</dict>
</plist>
