<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BrockColey_BODY.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>32</integer>
		<key>offsetX</key>
		<integer>9</integer>
		<key>offsetY</key>
		<integer>18</integer>
		<key>pivotX</key>
		<real>0.52008616924285889</real>
		<key>pivotY</key>
		<real>0.48465332388877869</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>29</integer>
		<key>x</key>
		<integer>59</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>BrockColey_B_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>15</integer>
		<key>offsetX</key>
		<integer>3</integer>
		<key>offsetY</key>
		<integer>26</integer>
		<key>pivotX</key>
		<real>0.93000000000000005</real>
		<key>pivotY</key>
		<real>0.76000000000000001</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>27</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>39</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>BrockColey_FOOT.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>9</integer>
		<key>offsetX</key>
		<integer>4</integer>
		<key>offsetY</key>
		<integer>8</integer>
		<key>pivotX</key>
		<real>0.41692713648080826</real>
		<key>pivotY</key>
		<real>0.94427073001861572</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>15</integer>
		<key>x</key>
		<integer>29</integer>
		<key>y</key>
		<integer>39</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>BrockColey_FOOT.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>4</integer>
		<key>height</key>
		<integer>9</integer>
		<key>offsetX</key>
		<integer>13</integer>
		<key>offsetY</key>
		<integer>8</integer>
		<key>pivotX</key>
		<real>0.66432290524244308</real>
		<key>pivotY</key>
		<real>0.93559020757675171</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>15</integer>
		<key>x</key>
		<integer>29</integer>
		<key>y</key>
		<integer>39</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>BrockColey_F_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>19</integer>
		<key>offsetX</key>
		<integer>14</integer>
		<key>offsetY</key>
		<integer>30</integer>
		<key>pivotX</key>
		<real>0.84958511590957642</real>
		<key>pivotY</key>
		<real>0.7004687562584877</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>29</integer>
		<key>x</key>
		<integer>59</integer>
		<key>y</key>
		<integer>34</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>BrockColey_HAIR.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>37</integer>
		<key>offsetX</key>
		<integer>-12</integer>
		<key>offsetY</key>
		<integer>22</integer>
		<key>pivotX</key>
		<real>0.5100054070353508</real>
		<key>pivotY</key>
		<real>0.32453542947769165</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>57</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>8</integer>
	</dict>
</dict>
</plist>
