<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>0.0</real>
	<key>angleVariance</key>
	<real>0.0</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0.0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>1</real>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>1</real>
	<key>finishColorVarianceBlue</key>
	<real>0.0</real>
	<key>finishColorVarianceGreen</key>
	<real>0.0</real>
	<key>finishColorVarianceRed</key>
	<real>0.0</real>
	<key>finishParticleSize</key>
	<real>9.369999885559082</real>
	<key>finishParticleSizeVariance</key>
	<real>0.0</real>
	<key>gravityx</key>
	<real>-15.899999618530273</real>
	<key>gravityy</key>
	<real>28.059999465942383</real>
	<key>maxParticles</key>
	<real>16</real>
	<key>maxRadius</key>
	<real>100</real>
	<key>maxRadiusVariance</key>
	<real>0.0</real>
	<key>minRadius</key>
	<real>0.0</real>
	<key>particleLifespan</key>
	<real>1.0602999925613403</real>
	<key>particleLifespanVariance</key>
	<real>0.0</real>
	<key>radialAccelVariance</key>
	<real>0.090000003576278687</real>
	<key>radialAcceleration</key>
	<real>0.0</real>
	<key>rotatePerSecond</key>
	<real>0.0</real>
	<key>rotatePerSecondVariance</key>
	<real>0.0</real>
	<key>rotationEnd</key>
	<real>0.0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0.0</real>
	<key>rotationStartVariance</key>
	<real>0.0</real>
	<key>sourcePositionVariancex</key>
	<real>-44.939998626708984</real>
	<key>sourcePositionVariancey</key>
	<real>-64</real>
	<key>sourcePositionx</key>
	<real>150.80999755859375</real>
	<key>sourcePositiony</key>
	<real>199.75999450683594</real>
	<key>speed</key>
	<real>0.0</real>
	<key>speedVariance</key>
	<real>0.0</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>1</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0.89999997615814209</real>
	<key>startColorVarianceBlue</key>
	<real>0.0</real>
	<key>startColorVarianceGreen</key>
	<real>0.0</real>
	<key>startColorVarianceRed</key>
	<real>0.0</real>
	<key>startParticleSize</key>
	<real>20.340000152587891</real>
	<key>startParticleSizeVariance</key>
	<real>0.0</real>
	<key>tangentialAccelVariance</key>
	<real>0.81999999284744263</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>particleTexture.png</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAAwGkAVv+iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAABa0lEQVQoFcWSO0sDQRSFb0STQmNQQTCCLAETsLFPozZ2aS1sBP+DhT/HytJCGytTKQQDIloEQbYIKgaDENAYFf3OOrNkF1J74Mx9zX3Mw+y/kUkPsHP2k8VXgQFcgMILfIA3BxuZnhweiQIkzxHYhDkYrsxYt/Nur52+LWIHzl+nSIgeIS7gOm/j7e1W7G65YH30MnwqTmYuXbzqfCcU0UQ2rsVBwY+9VbufzdmSdyK/pJMwQNRdoTX0Q/nHtDiUC1m7JlnjCp+wDW9lDOECPU+honxRAW9slazrNrYZ+xReQRWK4S5Rlxpd8PAEVpo2jSm8/YmRq9+XOII1nu17ZEoyMOXNaAJ3o4Oj0OYJaLwJvyEtOa6eOg9DxYaP0MKu7jesybnTF6e9HusojzRVo0SBJrZ+Wc11UTwGvizUJ1P3cx+IP5Ic2oSoQY0ZwqgLUkkBFI59dxmJAnIIFCojApiDHiFKi+T4BRT4BetaZvLLLyPbAAAAAElFTkSuQmCC4McrBqQBAAA=</string>
</dict>
</plist>
