<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>pet_easteregg_blink_fr01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 26}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{-2, -10}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 303}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 19}, {40, 59}}</string>
			<key>spriteOffset</key>
			<string>{-2, -6}</string>
			<key>spriteSize</key>
			<string>{40, 59}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 201}, {40, 59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 12}, {36, 67}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{36, 67}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 193}, {36, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 5}, {40, 73}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{40, 73}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 225}, {40, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 7}, {40, 71}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{40, 71}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 57}, {40, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 10}, {40, 69}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{40, 69}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 128}, {40, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 10}, {40, 69}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{40, 69}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 347}, {40, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 10}, {40, 69}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{40, 69}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 418}, {40, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 11}, {40, 67}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{40, 67}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 408}, {40, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 11}, {40, 67}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{40, 67}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 339}, {40, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 3}, {40, 75}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{40, 75}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 59}, {40, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 7}, {40, 71}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{40, 71}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 325}, {40, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 11}, {40, 67}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{40, 67}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 55}, {40, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 11}, {40, 67}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{40, 67}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 270}, {40, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 12}, {40, 67}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{40, 67}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 124}, {40, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 13}, {40, 65}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{40, 65}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 134}, {40, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 10}, {40, 69}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{40, 69}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 276}, {40, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 7}, {40, 71}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{40, 71}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 130}, {40, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 2}, {40, 77}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{40, 77}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {40, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 5}, {40, 73}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{40, 73}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 79}, {40, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 8}, {40, 71}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{40, 71}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 373}, {40, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr22.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 8}, {40, 71}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{40, 71}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 203}, {40, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr23.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 8}, {40, 71}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{40, 71}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 398}, {40, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr24.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 8}, {40, 71}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{40, 71}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 300}, {40, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr25.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 10}, {40, 69}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{40, 69}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 199}, {40, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr26.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 9}, {40, 69}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{40, 69}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 57}, {40, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr27.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {40, 73}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{40, 73}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 250}, {40, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr28.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 5}, {40, 73}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{40, 73}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 59}, {40, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr29.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 10}, {42, 69}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{42, 69}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 154}, {42, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr30.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 25}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{-2, -9}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 0}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_blink_fr31.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 25}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{-2, -9}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 262}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 26}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{-3, -10}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 0}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 26}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{-3, -10}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 0}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 25}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{-3, -9}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 193}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 23}, {40, 55}}</string>
			<key>spriteOffset</key>
			<string>{-3, -8}</string>
			<key>spriteSize</key>
			<string>{40, 55}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 433}, {40, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 24}, {40, 55}}</string>
			<key>spriteOffset</key>
			<string>{-2, -9}</string>
			<key>spriteSize</key>
			<string>{40, 55}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 319}, {40, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 24}, {40, 55}}</string>
			<key>spriteOffset</key>
			<string>{-1, -9}</string>
			<key>spriteSize</key>
			<string>{40, 55}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 376}, {40, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 25}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 110}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 24}, {38, 55}}</string>
			<key>spriteOffset</key>
			<string>{-1, -9}</string>
			<key>spriteSize</key>
			<string>{38, 55}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 193}, {38, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 24}, {40, 55}}</string>
			<key>spriteOffset</key>
			<string>{-1, -9}</string>
			<key>spriteSize</key>
			<string>{40, 55}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 0}, {40, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 23}, {40, 55}}</string>
			<key>spriteOffset</key>
			<string>{-2, -8}</string>
			<key>spriteSize</key>
			<string>{40, 55}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 0}, {40, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 24}, {40, 55}}</string>
			<key>spriteOffset</key>
			<string>{-2, -9}</string>
			<key>spriteSize</key>
			<string>{40, 55}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 446}, {40, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_idle_fr12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 25}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{-3, -9}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 55}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_walk_fr01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 25}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{2, -9}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 248}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_walk_fr02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 25}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{-2, -9}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 165}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_walk_fr03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 25}, {44, 57}}</string>
			<key>spriteOffset</key>
			<string>{-3, -11}</string>
			<key>spriteSize</key>
			<string>{44, 57}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 0}, {44, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_walk_fr04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 22}, {38, 55}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{38, 55}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 136}, {38, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_walk_fr05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 25}, {40, 53}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{40, 53}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 0}, {40, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_easteregg_walk_fr06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 28}, {40, 55}}</string>
			<key>spriteOffset</key>
			<string>{3, -13}</string>
			<key>spriteSize</key>
			<string>{40, 55}</string>
			<key>spriteSourceSize</key>
			<string>{80, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 262}, {40, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>easterPet2013</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>easterPet2013_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>easterPet2013_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>