<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bossHeadPortrait</key>
		<string>portrait_old_mcdonnel.png</string>
		<key>bossName</key>
		<string>Old McDonnell</string>
		<key>ID</key>
		<integer>1</integer>
		<key>doorAnchorY</key>
		<integer>0</integer>
		<key>doorPositionY</key>
		<integer>0</integer>
		<key>enemyIcon</key>
		<string>enemyIcon.png</string>
		<key>enemySpawnPosition</key>
		<string>{585,20}</string>
		<key>flurryTag</key>
		<string>Old McDonnell</string>
		<key>imageURL</key>
		<string>http://s3.amazonaws.com/zombiefarm-website/facebook/mcdonnellfarm.png</string>
		<key>introText</key>
		<string>That darned farmer Old McDonnell has been givin ya the stink eye lately... Why don&apos;t ya show him who&apos;s boss!\n\nTap on &quot;Invade&quot; when yer ready to raid his barn.</string>
		<key>invasionFailedText</key>
		<string>Old McDonnell beat yer zombies somethin&apos; fierce! You might need stronger zombies... or some better luck.</string>
		<key>invasionSuccessText</key>
		<string>You just beat Old McDonnell and his flimsy farmhands! You can bet he&apos;ll be back though...</string>
		<key>level</key>
		<integer>0</integer>
		<key>levelAssets</key>
		<array>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>sprite</key>
				<string>fightBGFarm_bg.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,0}</string>
				<key>position</key>
				<string>{480,0}</string>
				<key>sprite</key>
				<string>fightBGFarm_barn.png</string>
				<key>z</key>
				<integer>100</integer>
			</dict>
		</array>
		<key>loot</key>
		<array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Haystack</string>
			</array>
			<array>
				<string>Insta-Plow</string>
				<string>Insta-Harvest</string>
			</array>
			<array>
				<string>Farmer Banner</string>
			</array>
			<array>
				<string>Scarecrow</string>
			</array>
			<array>
				<string>Windmill</string>
			</array>
		</array>
		<key>name</key>
		<string>Old McDonnell&apos;s Farm</string>
		<key>stageSettings</key>
		<array>
			<dict>
				<key>enemyKeys</key>
				<array>
					<string>FarmStageActorFarmhand</string>
				</array>
			</dict>
			<dict>
				<key>level</key>
				<integer>1</integer>
				<key>enemyKeys</key>
				<array>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorFarmhand</string>
				</array>
			</dict>
			<dict>
				<key>level</key>
				<integer>2</integer>
				<key>enemyKeys</key>
				<array>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorLumberjack</string>
				</array>
			</dict>
			<dict>
				<key>level</key>
				<integer>3</integer>
				<key>throwingDisabled</key>
				<true/>
				<key>bossKey</key>
				<string>FarmStageActorBoss</string>
				<key>enemyKeys</key>
				<array>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorLumberjack</string>
				</array>
			</dict>
			<dict>
				<key>level</key>
				<integer>4</integer>
				<key>bossKey</key>
				<string>FarmStageActorBoss</string>
				<key>throwSpeed</key>
				<integer>2</integer>
				<key>enemyKeys</key>
				<array>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorFarmhand</string>
					<string>FarmStageActorLumberjack</string>
				</array>
			</dict>
			<dict>
				<key>level</key>
				<integer>5</integer>
				<key>bossKey</key>
				<string>FarmStageActorBoss</string>
				<key>throwSpeed</key>
				<real>1.5</real>
				<key>population</key>
				<integer>7</integer>
				<key>enemies</key>
				<array>
					<dict>
						<key>enemy</key>
						<string>FarmStageActorFarmhand</string>
						<key>frequency</key>
						<integer>90</integer>
					</dict>
					<dict>
						<key>enemy</key>
						<string>FarmStageActorLumberjack</string>
						<key>frequency</key>
						<integer>10</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>level</key>
				<integer>6</integer>
				<key>bossKey</key>
				<string>FarmStageActorBoss</string>
				<key>throwSpeed</key>
				<integer>1</integer>
				<key>population</key>
				<integer>10</integer>
				<key>enemies</key>
				<array>
					<dict>
						<key>enemy</key>
						<string>FarmStageActorFarmhand</string>
						<key>frequency</key>
						<integer>80</integer>
					</dict>
					<dict>
						<key>enemy</key>
						<string>FarmStageActorLumberjack</string>
						<key>frequency</key>
						<integer>20</integer>
					</dict>
				</array>
			</dict>
		</array>
		<key>reccomendedLevel</key>
		<string>5</string>
		<key>throwSpeed</key>
		<integer>2</integer>
		<key>xp</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>bossHeadPortrait</key>
		<string>portrait_lawyer.png</string>
		<key>bossName</key>
		<string>CorporateVille</string>
		<key>ID</key>
		<integer>2</integer>
		<key>doorAnchorY</key>
		<integer>1</integer>
		<key>doorPositionY</key>
		<integer>320</integer>
		<key>enemyIcon</key>
		<string>enemyIcon1.png</string>
		<key>enemySpawnPosition</key>
		<string>{585,20}</string>
		<key>flurryTag</key>
		<string>Lawyers</string>
		<key>imageURL</key>
		<string>http://s3.amazonaws.com/zombiefarm-website/facebook/corporateville.png</string>
		<key>introText</key>
		<string>CorporateVille&apos;s lawyers want to take away yer land and build a parking lot! Defend yer land from these high falutin&apos; cityfolk.</string>
		<key>invasionFailedText</key>
		<string>CorporateVille&apos;s lawyers beat yer zombies somethin&apos; fierce! You might need stronger zombies... or some better luck.</string>
		<key>invasionSuccessText</key>
		<string>CorporateVille&apos;s lawyers have been repealed by yer astounding army!</string>
		<key>level</key>
		<integer>16</integer>
		<key>levelAssets</key>
		<array>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>sprite</key>
				<string>fightBGCity_bg.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,0}</string>
				<key>position</key>
				<string>{480,0}</string>
				<key>sprite</key>
				<string>fightBGCity_mid.png</string>
				<key>z</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,0}</string>
				<key>position</key>
				<string>{480,0}</string>
				<key>sprite</key>
				<string>fightBGCity_front.png</string>
				<key>z</key>
				<integer>100</integer>
			</dict>
		</array>
		<key>loot</key>
		<array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Zombie Sign</string>
			</array>
			<array>
				<string>Insta-Harvest</string>
				<string>Insta-Plow</string>
				<string>Invasion Voucher</string>
			</array>
			<array>
				<string>Corporate Banner</string>
			</array>
			<array>
				<string>Street Light</string>
			</array>
			<array>
				<string>Monument</string>
			</array>
		</array>
		<key>name</key>
		<string>Zombies vs Lawyers</string>
		<key>reccomendedLevel</key>
		<string>16</string>
		<key>stageActors</key>
		<array>
			<dict>
				<key>destinationAction</key>
				<string>changeStateWithDelay_idle_1</string>
				<key>exitPoint</key>
				<string>{0,0}</string>
				<key>idleAction</key>
				<string>moveToNextPointInSet:changeState_move</string>
				<key>isCollidable</key>
				<false/>
				<key>isFightActor</key>
				<true/>
				<key>isTouchable</key>
				<false/>
				<key>lifeBarOffset</key>
				<string>{0,0}</string>
				<key>moveParticles</key>
				<array>
					<dict>
						<key>file</key>
						<string>carSmoke.plist</string>
						<key>offset</key>
						<string>{20,5}</string>
					</dict>
				</array>
				<key>pointBox</key>
				<string>{{0,0},{0,0}}</string>
				<key>pointSet</key>
				<string>{-100,25}:{580,25}</string>
				<key>spawnAction</key>
				<string>changeStateWithDelay_idle_5</string>
				<key>spawnPoint</key>
				<string>{580,25}</string>
				<key>spawnState</key>
				<string>wait_5</string>
				<key>spriteAnchor</key>
				<string>{0.5,0}</string>
				<key>spriteFile</key>
				<string>fightBGCity_van.png</string>
				<key>tapDelay</key>
				<string>0</string>
				<key>unitStatsEntry</key>
				<string>genericStageActor</string>
				<key>walkingSpeed</key>
				<real>2.5</real>
				<key>z</key>
				<string>1</string>
			</dict>
			<dict>
				<key>collisionAction</key>
				<string>grabZombie</string>
				<key>destinationAction</key>
				<string>changeStateWithDelay_idle_0.5</string>
				<key>idleAction</key>
				<string>moveToNextPointInSet:changeState_move</string>
				<key>isCollidable</key>
				<false/>
				<key>isFightActor</key>
				<true/>
				<key>isTouchable</key>
				<false/>
				<key>lifeBarOffset</key>
				<string>{0,0}</string>
				<key>moveParticles</key>
				<array>
					<dict>
						<key>file</key>
						<string>carSmoke.plist</string>
						<key>offset</key>
						<string>{20,5}</string>
					</dict>
				</array>
				<key>pointBox</key>
				<string>{{0,0},{0,0}}</string>
				<key>pointSet</key>
				<string>{-100,25}:{580,25}</string>
				<key>spawnAction</key>
				<string>changeStateWithDelay_idle_3</string>
				<key>spawnPoint</key>
				<string>{580,25}</string>
				<key>spawnState</key>
				<string>wait_5</string>
				<key>spriteAnchor</key>
				<string>{0.5,0}</string>
				<key>spriteFile</key>
				<string>fightBGCity_car.png</string>
				<key>tapDelay</key>
				<string>0</string>
				<key>unitStatsEntry</key>
				<string>genericStageActor</string>
				<key>walkingSpeed</key>
				<integer>4</integer>
				<key>z</key>
				<string>1</string>
			</dict>
		</array>
		<key>throwSpeed</key>
		<integer>5</integer>
		<key>xp</key>
		<integer>800</integer>
		<key>stageSettings</key>
		<array>
			<dict>
				<key>bossKey</key>
				<string>CityStageActorBoss</string>
				<key>population</key>
				<integer>10</integer>
				<key>enemies</key>
				<array>
					<dict>
						<key>enemy</key>
						<string>CityStageActorLawyer</string>
						<key>frequency</key>
						<integer>70</integer>
					</dict>
					<dict>
						<key>enemy</key>
						<string>CityStageActorCrazedWorker</string>
						<key>frequency</key>
						<integer>30</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>boss</key>
		<string>PirateStageActorBoss</string>
		<key>bossHeadPortrait</key>
		<string>portrait_pirate.png</string>
		<key>bossName</key>
		<string>The Dread Pirate Arrrnold</string>
		<key>ID</key>
		<integer>3</integer>
		<key>doorAnchorY</key>
		<integer>0</integer>
		<key>doorPositionY</key>
		<integer>0</integer>
		<key>enemies</key>
		<array>
			<dict>
				<key>enemy</key>
				<string>PirateStageActorScallywag</string>
				<key>frequency</key>
				<integer>83</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>PirateStageActorSwashbuckler</string>
				<key>frequency</key>
				<integer>17</integer>
			</dict>
		</array>
		<key>enemyIcon</key>
		<string>enemyIcon2.png</string>
		<key>enemySpawnPosition</key>
		<string>{585,20}</string>
		<key>flurryTag</key>
		<string>Pirates</string>
		<key>imageURL</key>
		<string>http://s3.amazonaws.com/zombiefarm-website/facebook/DreadPirateArrrnold.png</string>
		<key>introText</key>
		<string>The Dread Pirate Arrrnold has been plundering farms left and right. Those ruffians and scallywags have you targeted next! Tap invade when yer ready to face him.</string>
		<key>invasionFailedText</key>
		<string>The Dread Pirate Arrrnold beat yer zombies something fierce! Rumors say pirates clobber anything that moves too fast. hmmmm...</string>
		<key>invasionSuccessText</key>
		<string>The Dread Pirate Arrrnold and his band o&apos; scallywags have fled back to the high seas. He&apos;ll think twice before botherin&apos; you again.</string>
		<key>level</key>
		<integer>21</integer>
		<key>levelAssets</key>
		<array>
			<dict>
				<key>anchor</key>
				<string>{0,1}</string>
				<key>position</key>
				<string>{0,320}</string>
				<key>sprite</key>
				<string>fightBGPirate_sky.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>isScrolling</key>
				<true/>
				<key>position</key>
				<string>{0,-101}</string>
				<key>speed</key>
				<string>-40</string>
				<key>sprite</key>
				<string>fightBGPirate_water.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>isScrolling</key>
				<true/>
				<key>position</key>
				<string>{-512,-101}</string>
				<key>speed</key>
				<string>-40</string>
				<key>sprite</key>
				<string>fightBGPirate_water.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,0}</string>
				<key>position</key>
				<string>{480,0}</string>
				<key>sprite</key>
				<string>fightBGPirate_mid.png</string>
				<key>z</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,0}</string>
				<key>position</key>
				<string>{480,0}</string>
				<key>sprite</key>
				<string>fightBGPirate_front.png</string>
				<key>z</key>
				<integer>100</integer>
			</dict>
		</array>
		<key>loot</key>
		<array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Treasure Chest</string>
			</array>
			<array>
				<string>Invasion Voucher</string>
				<string>Insta-Grow</string>
				<string>Insta-Plow</string>
				<string>Insta-Harvest</string>
			</array>
			<array>
				<string>Pirate Banner</string>
			</array>
			<array>
				<string>Gallows</string>
			</array>
			<array>
				<string>Parrot</string>
			</array>
		</array>
		<key>name</key>
		<string>Zombies vs Pirates</string>
		<key>population</key>
		<integer>6</integer>
		<key>reccomendedLevel</key>
		<string>21</string>
		<key>stageActors</key>
		<array>
			<dict>
				<key>constantParticles</key>
				<array>
					<dict>
						<key>file</key>
						<string>wakeParticle1.plist</string>
						<key>offset</key>
						<string>{15,2}</string>
					</dict>
				</array>
				<key>destinationAction</key>
				<string>changeState_idle</string>
				<key>exitPoint</key>
				<string>{0,0}</string>
				<key>idleAction</key>
				<string>sinMoveToNextPointInSet_5:changeState_move</string>
				<key>isCollidable</key>
				<false/>
				<key>isFightActor</key>
				<true/>
				<key>isTouchable</key>
				<false/>
				<key>lifeBarOffset</key>
				<string>{0,0}</string>
				<key>moveParticles</key>
				<array>
					<dict>
						<key>file</key>
						<string>wakeParticle2.plist</string>
						<key>offset</key>
						<string>{-20,3}</string>
					</dict>
				</array>
				<key>noFlip</key>
				<true/>
				<key>pointBox</key>
				<string>{{0,0},{0,0}}</string>
				<key>pointSet</key>
				<string>{220,130}:{160,120}:{220,110}:{280,120}</string>
				<key>spawnAction</key>
				<string>changeState_idle</string>
				<key>spawnPoint</key>
				<string>{340,120}</string>
				<key>spawnState</key>
				<string>wait_1</string>
				<key>spriteAnchor</key>
				<string>{0.5,0}</string>
				<key>spriteFile</key>
				<string>fightBGPirate_ship.png</string>
				<key>tapDelay</key>
				<string>0</string>
				<key>unitStatsEntry</key>
				<string>genericStageActor</string>
				<key>walkingSpeed</key>
				<real>0.1</real>
				<key>z</key>
				<string>1</string>
			</dict>
		</array>
		<key>throwSpeed</key>
		<integer>8</integer>
		<key>xp</key>
		<integer>1500</integer>
	</dict>
	<dict>
		<key>boss</key>
		<string>NinjaStageActorBoss</string>
		<key>bossHeadPortrait</key>
		<string>portrait_ninja.png</string>
		<key>bossName</key>
		<string>Mr. Whiskers</string>
		<key>bossPosition</key>
		<string>{450,180}</string>
		<key>ID</key>
		<integer>4</integer>
		<key>doorAnchorY</key>
		<integer>0</integer>
		<key>doorPositionY</key>
		<integer>115</integer>
		<key>enemies</key>
		<array>
			<dict>
				<key>enemy</key>
				<string>NinjaStageActorBoy</string>
				<key>frequency</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>NinjaStageActorGirl</string>
				<key>frequency</key>
				<integer>75</integer>
			</dict>
		</array>
		<key>enemyIcon</key>
		<string>enemyIcon3.png</string>
		<key>enemySpawnPosition</key>
		<string>{585,20}</string>
		<key>flurryTag</key>
		<string>Ninjas</string>
		<key>imageURL</key>
		<string>http://s3.amazonaws.com/zombiefarm-website/facebook/MrWhiskers.png</string>
		<key>introText</key>
		<string>The Carrot Clan are ninja looting yer crops! Tap invade when yer ready to face the evil ninja overlord Mr. Whiskers!</string>
		<key>invasionFailedText</key>
		<string>Them crafty ninjas beat yer zombies something fierce!  You might wanna try combining zombies with the Zombie Pot... </string>
		<key>invasionSuccessText</key>
		<string>Looks like you sent Mr. Whiskers runnin fer the hills. Remember nobody likes a ninja looter!</string>
		<key>level</key>
		<integer>26</integer>
		<key>levelAssets</key>
		<array>
			<dict>
				<key>anchor</key>
				<string>{0,1}</string>
				<key>position</key>
				<string>{0,320}</string>
				<key>sprite</key>
				<string>fightBGNinja_bg.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,0}</string>
				<key>position</key>
				<string>{480,0}</string>
				<key>sprite</key>
				<string>fightBGNinja_mid.png</string>
				<key>z</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,1}</string>
				<key>position</key>
				<string>{480,320}</string>
				<key>sprite</key>
				<string>fightBGNinja_front.png</string>
				<key>z</key>
				<integer>100</integer>
			</dict>
		</array>
		<key>levelBG</key>
		<string>fightBGNinja.png</string>
		<key>levelBldng</key>
		<string>fightBuildingNinja.png</string>
		<key>levelDoor</key>
		<string>fightBuildingDoorNinja.png</string>
		<key>loot</key>
		<array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Bamboo</string>
			</array>
			<array>
				<string>Invasion Voucher</string>
				<string>Insta-Grow</string>
				<string>Insta-Plow</string>
				<string>Insta-Harvest</string>
			</array>
			<array>
				<string>Ninja Banner</string>
			</array>
			<array>
				<string>Double Rainbow</string>
			</array>
			<array>
				<string>Taiko Drum</string>
			</array>
		</array>
		<key>name</key>
		<string>Zombies vs Ninjas</string>
		<key>population</key>
		<integer>10</integer>
		<key>reccomendedLevel</key>
		<string>26</string>
		<key>throwSpeed</key>
		<integer>2</integer>
		<key>xp</key>
		<integer>2500</integer>
	</dict>
	<dict>
		<key>bossHeadPortrait</key>
		<string>portrait_robot.png</string>
		<key>bossName</key>
		<string>The Robots</string>
		<key>bossPosition</key>
		<string>{450,180}</string>
		<key>doorAnchorY</key>
		<integer>1</integer>
		<key>randomBoss</key>
		<true/>
		<key>ID</key>
		<integer>5</integer>
		<key>doorPositionY</key>
		<integer>225</integer>
		<key>enemies</key>
		<array>
			<dict>
				<key>enemy</key>
				<string>RobotStageActorBroBot</string>
				<key>frequency</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>RobotStageActorJunkBot</string>
				<key>frequency</key>
				<integer>33</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>RobotStageActorBrainBot</string>
				<key>frequency</key>
				<integer>34</integer>
			</dict>
		</array>
		<key>enemyIcon</key>
		<string>enemyIcon4.png</string>
		<key>enemySpawnPosition</key>
		<string>{585,20}</string>
		<key>flurryTag</key>
		<string>Robots</string>
		<key>imageURL</key>
		<string>http://s3.amazonaws.com/zombiefarm-website/facebook/RobotBoss.png</string>
		<key>introText</key>
		<string>Sinister robots have set up a factory nearby. Shut them down before they take your job! Tap invade when yer ready to face them.</string>
		<key>invasionFailedText</key>
		<string>Them heartless robots beat yer zombies something fierce!  You might wanna try combining zombies with the Zombie Pot... </string>
		<key>invasionSuccessText</key>
		<string>Them brainless robots have been reduced to nuts and bolts! Looks like yer jobs are safe once again.
For now...</string>
		<key>level</key>
		<integer>31</integer>
		<key>levelAssets</key>
		<array>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>sprite</key>
				<string>fightBGRobot_BG.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>position</key>
				<string>{0,0}</string>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>sprite</key>
				<string>fightBGRobot_PLATFORMwlight.png</string>
				<key>z</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>sprite</key>
				<string>fightBGRobot_FLOOR.png</string>
				<key>z</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>levelBG</key>
		<string>fightBGRobot.png</string>
		<key>levelBldng</key>
		<string>fightBuildingRobot.png</string>
		<key>levelDoor</key>
		<string>fightBuildingDoorRobot.png</string>
		<key>loot</key>
		<array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Hazard Fence</string>
			</array>
			<array>
				<string>Invasion Voucher</string>
				<string>Insta-Grow</string>
				<string>Insta-Plow</string>
				<string>Insta-Harvest</string>
			</array>
			<array>
				<string>Robot Banner</string>
				<string>Broken Tractor</string>
			</array>
			<array>
				<string>Toxic Drum</string>
			</array>
			<array>
				<string>Mechanical Bull</string>
			</array>
		</array>
		<key>name</key>
		<string>Zombies vs Robots</string>
		<key>population</key>
		<integer>2</integer>
		<key>reccomendedLevel</key>
		<string>31</string>
		<key>throwSpeed</key>
		<integer>2</integer>
		<key>xp</key>
		<integer>3500</integer>
	</dict>
	<dict>
		<key>boss</key>
		<string>AlienStageActorBoss</string>
		<key>bossHeadPortrait</key>
		<string>portrait_alien.png</string>
		<key>bossName</key>
		<string>The Aliens</string>
		<key>enemies</key>
		<array>
			<dict>
				<key>enemy</key>
				<string>AlienStageActorMinion</string>
				<key>frequency</key>
				<integer>100</integer>
			</dict>
		</array>
		<key>ID</key>
		<integer>6</integer>
		<key>enemyIcon</key>
		<string>enemyIcon5.png</string>
		<key>enemySpawnPosition</key>
		<string>{585,20}</string>
		<key>flurryTag</key>
		<string>Aliens</string>
		<key>imageURL</key>
		<string>http://s3.amazonaws.com/zombiefarm-website/facebook/AlienBoss.png</string>
		<key>introText</key>
		<string>Malicious aliens have been drawing crop circles everywhere! Someone has to put a stop to this vandalism!</string>
		<key>invasionFailedText</key>
		<string>Them aliens really did a number on ya, this is a tough fight so make sure you bring some veteran mutant zombies.</string>
		<key>invasionSuccessText</key>
		<string>Those malicious aliens have been sent back to their planet. You sure taught them a lesson or two.</string>
		<key>level</key>
		<integer>36</integer>
		<key>levelAssets</key>
		<array>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>sprite</key>
				<string>fightBGAlien_bg.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>loot</key>
		<array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Bike</string>
			</array>
			<array>
				<string>Invasion Voucher</string>
				<string>Insta-Grow</string>
				<string>Insta-Plow</string>
				<string>Insta-Harvest</string>
			</array>
			<array>
				<string>Alien Banner</string>
				<string>Crashed UFO</string>
			</array>
			<array>
				<string>Pyramid</string>
			</array>
			<array>
				<string>Satellite Dish</string>
			</array>
		</array>
		<key>name</key>
		<string>Zombies vs Aliens</string>
		<key>population</key>
		<integer>20</integer>
		<key>reccomendedLevel</key>
		<string>36</string>
		<key>throwModifierDamage</key>
		<real>0.05</real>
		<key>throwSpeed</key>
		<real>0.2</real>
		<key>xp</key>
		<integer>4500</integer>
	</dict>
	<dict>
		<key>boss</key>
		<string>BeachStageActorBoss</string>
		<key>bossHeadPortrait</key>
		<string>portrait_squidude.png</string>
		<key>bossName</key>
		<string>SquiDude</string>
		<key>hide</key>
		<true/>
		<key>ID</key>
		<integer>7</integer>
		<key>bossPosition</key>
		<string>{431,100}</string>
		<key>enemies</key>
		<array>
			<dict>
				<key>enemy</key>
				<string>BeachStageActorMinion1</string>
				<key>frequency</key>
				<integer>50</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>BeachStageActorMinion2</string>
				<key>frequency</key>
				<integer>50</integer>
			</dict>
		</array>
		<key>enemyIcon</key>
		<string>enemyIcon6.png</string>
		<key>enemyPosition</key>
		<string>{420,5}</string>
		<key>enemySpawnPosition</key>
		<string>{585,5}</string>
		<key>flurryTag</key>
		<string>Summer Break</string>
		<key>imageURL</key>
		<string>http://s3.amazonaws.com/zombiefarm-website/facebook/squidudeX.png</string>
		<key>initialSpawnClass</key>
		<string>BeachStageActorCrab</string>
		<key>obstacleSpawnTimer</key>
		<integer>5</integer>
		<key>introText</key>
		<string>Your zombies want to party on the beach for summer vacation, but there&apos;s a bunch of party poopin&apos; Sea Monsters crashing the scene. Someone&apos;s gotta kick them out before they ruin the fun for everyone!</string>
		<key>invasionFailedText</key>
		<string>Looks like you weren&apos;t cool enough to party with the Sea Monsters.  Remember to tap them crabs to release your zombies.</string>
		<key>invasionSuccessText</key>
		<string>Them Sea Monsters won&apos;t be coming back anytime soon. Surf&apos;s up zombies!</string>
		<key>level</key>
		<integer>8</integer>
		<key>levelAssets</key>
		<array>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>sprite</key>
				<string>fightBGBeach_bg.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>loot</key>
		<array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Sand Dollar</string>
			</array>
			<array>
				<string>Invasion Voucher</string>
				<string>Insta-Grow</string>
				<string>Insta-Plow</string>
				<string>Insta-Harvest</string>
			</array>
			<array>
				<string>Ice Cream Stand</string>
			</array>
			<array>
				<string>Rock Lobster</string>
			</array>
			<array>
				<string>Giant Clam</string>
			</array>
		</array>
		<key>name</key>
		<string>Seasonal: Summer Break</string>
		<key>obstacleActors</key>
		<dict>
			<key>SpecialStageActorObstacle</key>
			<dict>
				<key>animationFrameList</key>
				<string>TreeWorld.plist</string>
				<key>animationFrames</key>
				<array>
					<string>animal_turtle_eat00.png</string>
					<string>animal_turtle_eat01.png</string>
					<string>animal_turtle_eat02.png</string>
					<string>animal_turtle_eat03.png</string>
				</array>
				<key>animationSheet</key>
				<string>TreeWorld.png</string>
				<key>animationSpeed</key>
				<real>0.2</real>
			</dict>
		</dict>
		<key>obstacleLimit</key>
		<integer>2</integer>
		<key>population</key>
		<integer>8</integer>
		<key>reccomendedLevel</key>
		<string>8</string>
		<key>seasonal</key>
		<true/>
		<key>throwSpeed</key>
		<real>1.5</real>
		<key>xp</key>
		<integer>500</integer>
		<key>zombieAttackPosition</key>
		<string>{428,5}</string>
	</dict>
	<dict>
		<key>boss</key>
		<string>CircusStageActorBoss</string>
		<key>bossHeadPortrait</key>
		<string>portrait_circus.png</string>
		<key>bossName</key>
		<string>Ringmaster</string>
		<key>bossPosition</key>
		<string>{400,157}</string>
		<key>enemies</key>
		<array>
			<dict>
				<key>enemy</key>
				<string>CircusStageActorMinion1</string>
				<key>frequency</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>CircusStageActorMinion2</string>
				<key>frequency</key>
				<integer>80</integer>
			</dict>
		</array>
		<key>ID</key>
		<integer>8</integer>
		<key>enemyIcon</key>
		<string>enemy_icon_circus.png</string>
		<key>enemyPosition</key>
		<string>{390,0}</string>
		<key>enemySpawnPosition</key>
		<string>{500,55}</string>
		<key>flurryTag</key>
		<string>Circus</string>
		<key>imageURL</key>
		<string>http://s3.amazonaws.com/zombiefarm-website/facebook/ringmasterX.png</string>
		<key>introText</key>
		<string>If there&apos;s one thing that the Circus hates more than the sound of children laughing, it&apos;s zombies! Send these clowns packin&apos;!</string>
		<key>invasionFailedText</key>
		<string>This ain&apos;t time to be clownin&apos; around! You&apos;ll need tougher zombies to take down the Ringmaster, so get farmin&apos;!</string>
		<key>invasionSuccessText</key>
		<string>The Ringmaster&apos;s minions were just circus peanuts to your zombie horde!</string>
		<key>level</key>
		<integer>12</integer>
		<key>levelAssets</key>
		<array>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>sprite</key>
				<string>fightBGCircus_bg.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,0}</string>
				<key>position</key>
				<string>{480,0}</string>
				<key>sprite</key>
				<string>fightBGCircus_car_overlay.png</string>
				<key>z</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,0}</string>
				<key>position</key>
				<string>{480,0}</string>
				<key>sprite</key>
				<string>fightBGCircus_car.png</string>
				<key>z</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>loot</key>
		<array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Concentration</string>
				<string>Insta-Grow</string>
				<string>Invasion Voucher</string>
			</array>
			<array>
				<string>Circus Flag: Green</string>
				<string>Circus Flag: Yellow</string>
				<string>Circus Flag: Blue</string>
			</array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Circus Tent</string>
			</array>
			<array>
				<string>Ring of Fire</string>
			</array>
		</array>
		<key>name</key>
		<string>Zombies vs Circus</string>
		<key>population</key>
		<integer>8</integer>
		<key>reccomendedLevel</key>
		<string>12</string>
		<key>stageActors</key>
		<array>
			<dict>
				<key>attachements</key>
				<array>
					<dict>
						<key>attachementID</key>
						<integer>0</integer>
						<key>spriteFrames</key>
						<array>
							<string>hazard_trapeze_girl.png</string>
						</array>
						<key>z</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>collidedAction</key>
				<string>disableCollision:enableTouch:grabZombie:stopSelf:changeStateWithDelay_run_1:changeSpeed_0.5:setRotationTo_90</string>
				<key>enemy</key>
				<true/>
				<key>collisionBoxOffset</key>
				<string>{0,-26}</string>
				<key>collisionBoxSize</key>
				<string>{60,40}</string>
				<key>collisionRotationThreshold</key>
				<integer>45</integer>
				<key>deadAction</key>
				<string>spawnSameStageActor</string>
				<key>destinationAction</key>
				<string>changeStateWithDelay_idle_1:rotateBodyTo_-45</string>
				<key>dyingAction</key>
				<string>changeState_dead:dropZombie</string>
				<key>exitPoint</key>
				<string>{0,1}</string>
				<key>frameOffset</key>
				<string>{0,0}</string>
				<key>hitBoxOffset</key>
				<string>{0,-285}</string>
				<key>hitBoxSize</key>
				<string>{50,80}</string>
				<key>idleAction</key>
				<string>checkForTarget:moveToNextPointInSet:changeState_move</string>
				<key>isCollidable</key>
				<true/>
				<key>isFarmActor</key>
				<false/>
				<key>isFightActor</key>
				<true/>
				<key>isTouchable</key>
				<false/>
				<key>lifeBarOffset</key>
				<string>{0,100}</string>
				<key>movingAnimation</key>
				<array>
					<dict>
						<key>animationString</key>
						<string>rotateTo_180_17</string>
						<key>attachementID</key>
						<integer>0</integer>
						<key>repeatForever</key>
						<false/>
					</dict>
				</array>
				<key>name</key>
				<string>Trapeze Artist</string>
				<key>pointBox</key>
				<string>{{0,0},{0,0}}</string>
				<key>pointSet</key>
				<string>{-350,30}:{830,30}</string>
				<key>ranAwayAction</key>
				<string>spawnSameStageActor</string>
				<key>skeletonDictionary</key>
				<dict>
					<key>hazard_trapeze_girl.png</key>
					<dict>
						<key>anchor</key>
						<string>{12,31}</string>
						<key>offset</key>
						<string>{180,376}</string>
						<key>z</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>spawnAction</key>
				<string>changeStateWithDelay_idle_4</string>
				<key>spawnPoint</key>
				<string>{-350,30}</string>
				<key>spawnState</key>
				<string>wait_4</string>
				<key>spriteFile</key>
				<string>CircusStage.png</string>
				<key>spriteFrameFile</key>
				<string>CircusStage.plist</string>
				<key>tapDelay</key>
				<real>0.25</real>
				<key>touchedAction</key>
				<string>stopSelf:damageSelf_100:changeStateWithDelay_run_0.1:setRotationTo_90</string>
				<key>unitStatsEntry</key>
				<string>genericStageActor</string>
				<key>walkingSpeed</key>
				<integer>3</integer>
				<key>z</key>
				<string>100</string>
			</dict>
			<dict>
				<key>animationFrameList</key>
				<string>fightBGCircus_animatedBackground.plist</string>
				<key>animationFrames</key>
				<array>
					<string>fightBGCircus_lion_fr01.png</string>
					<string>fightBGCircus_lion_fr02.png</string>
					<string>fightBGCircus_lion_fr03.png</string>
				</array>
				<key>animationSheet</key>
				<string>fightBGCircus_animatedBackground.png</string>
				<key>animationSpeed</key>
				<real>0.1</real>
				<key>destinationAction</key>
				<string>changeStateWithDelay_idle_1.5</string>
				<key>exitPoint</key>
				<string>{0,0}</string>
				<key>idleAction</key>
				<string>moveToNextPointInSet:changeState_move</string>
				<key>isCollidable</key>
				<false/>
				<key>isFightActor</key>
				<true/>
				<key>isTouchable</key>
				<false/>
				<key>lifeBarOffset</key>
				<string>{0,0}</string>
				<key>pointBox</key>
				<string>{{0,0},{0,0}}</string>
				<key>pointSet</key>
				<string>{-100,25}:{580,25}</string>
				<key>spawnAction</key>
				<string>changeStateWithDelay_idle_4.7</string>
				<key>spawnPoint</key>
				<string>{580,25}</string>
				<key>spawnState</key>
				<string>wait_5</string>
				<key>spriteAnchor</key>
				<string>{0.5,0}</string>
				<key>spriteFile</key>
				<string>fightBGCircus_animatedBackground.png</string>
				<key>tapDelay</key>
				<string>0</string>
				<key>unitStatsEntry</key>
				<string>genericStageActor</string>
				<key>walkingSpeed</key>
				<integer>4</integer>
				<key>z</key>
				<string>1</string>
			</dict>
			<dict>
				<key>animationFrameList</key>
				<string>fightBGCircus_animatedBackground.plist</string>
				<key>animationFrames</key>
				<array>
					<string>fightBGCircus_clown_fr01.png</string>
					<string>fightBGCircus_clown_fr02.png</string>
					<string>fightBGCircus_clown_fr03.png</string>
					<string>fightBGCircus_clown_fr04.png</string>
				</array>
				<key>animationSheet</key>
				<string>fightBGCircus_animatedBackground.png</string>
				<key>animationSpeed</key>
				<real>0.1</real>
				<key>destinationAction</key>
				<string>changeStateWithDelay_idle_1.5</string>
				<key>idleAction</key>
				<string>moveToNextPointInSet:changeState_move</string>
				<key>isCollidable</key>
				<false/>
				<key>isFightActor</key>
				<true/>
				<key>isTouchable</key>
				<false/>
				<key>lifeBarOffset</key>
				<string>{0,0}</string>
				<key>pointBox</key>
				<string>{{0,0},{0,0}}</string>
				<key>pointSet</key>
				<string>{-100,25}:{580,25}</string>
				<key>spawnAction</key>
				<string>changeStateWithDelay_idle_4</string>
				<key>spawnPoint</key>
				<string>{580,25}</string>
				<key>spawnState</key>
				<string>wait_4</string>
				<key>spriteAnchor</key>
				<string>{0.5,0}</string>
				<key>spriteFile</key>
				<string>fightBGCircus_animatedBackground.png</string>
				<key>tapDelay</key>
				<string>0</string>
				<key>unitStatsEntry</key>
				<string>genericStageActor</string>
				<key>walkingSpeed</key>
				<integer>4</integer>
				<key>z</key>
				<string>1</string>
			</dict>
		</array>
		<key>throwSpeed</key>
		<real>1.5</real>
		<key>xp</key>
		<integer>500</integer>
		<key>zombieAttackPosition</key>
		<string>{383,5}</string>
	</dict>
	<dict>
		<key>boss</key>
		<string>VideoGameStageBossActor</string>
		<key>bossHeadPortrait</key>
		<string>portrait_zedzox.png</string>
		<key>bossName</key>
		<string>Zedzox</string>
		<key>ID</key>
		<integer>9</integer>
		<key>bossPosition</key>
		<string>{450,186}</string>
		<key>enemies</key>
		<array>
			<dict>
				<key>enemy</key>
				<string>VideoGameStageGhostActor</string>
				<key>frequency</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>VideoGameStageKnightActor</string>
				<key>frequency</key>
				<integer>30</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>VideoGameStageMonsterActor</string>
				<key>frequency</key>
				<integer>30</integer>
			</dict>
		</array>
		<key>enemyIcon</key>
		<string>enemy_icon_pixel.png</string>
		<key>enemyPosition</key>
		<string>{410,20}</string>
		<key>enemySpawnPosition</key>
		<string>{585,20}</string>
		<key>flurryTag</key>
		<string>Aliens</string>
		<key>imageURL</key>
		<string>http://s3.amazonaws.com/zombiefarm-website/facebook/zedzoxX.png</string>
		<key>introText</key>
		<string>The vile video game villain, Zedzox, has escaped into the real world and wants to turn all zombies into video game cannon fodder! Stop his cliche quest at all costs!</string>
		<key>invasionFailedText</key>
		<string>It&apos;s game over for you! Luckily, you have infinite continues on your side.</string>
		<key>invasionSuccessText</key>
		<string>Zedzox has gone slinking back to his lair. He has learned a valuable lesson about pigeonholing the role of zombies in the modern game. (At least until he forgets it.)</string>
		<key>level</key>
		<integer>43</integer>
		<key>levelAssets</key>
		<array>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>sprite</key>
				<string>fightBGPixel_bg.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,0}</string>
				<key>position</key>
				<string>{480,14}</string>
				<key>sprite</key>
				<string>fightBGPixel_front.png</string>
				<key>z</key>
				<integer>100</integer>
			</dict>
		</array>
		<key>loot</key>
		<array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Pixel Block</string>
				<string>Pixel Floating Block</string>
			</array>
			<array>
				<string>Invasion Voucher</string>
				<string>Insta-Grow</string>
				<string>Insta-Plow</string>
				<string>Insta-Harvest</string>
			</array>
			<array>
				<string>Pixel Banner</string>
				<string>Pixel Tree</string>
			</array>
			<array>
				<string>Pixel Campfire</string>
			</array>
			<array>
				<string>Pixel Tower</string>
			</array>
		</array>
		<key>name</key>
		<string>Zombies vs Video Games</string>
		<key>population</key>
		<integer>8</integer>
		<key>reccomendedLevel</key>
		<string>43</string>
		<key>reward</key>
		<integer>5000</integer>
		<key>throwSpeed</key>
		<integer>2</integer>
		<key>xp</key>
		<integer>5500</integer>
		<key>zombieAttackPosition</key>
		<string>{405,20}</string>
	</dict>
	<dict>
		<key>bossHeadPortrait</key>
		<string>portrait_goffy.png</string>
		<key>hide</key>
		<true/>
		<key>bossName</key>
		<string>Goffy</string>
		<key>ID</key>
		<integer>10</integer>
		<key>bossPosition</key>
		<string>{431,100}</string>
		<key>enemyIcon</key>
		<string>enemy_icon_goffy.png</string>
		<key>enemyPosition</key>
		<string>{420,5}</string>
		<key>enemySpawnPosition</key>
		<string>{585,5}</string>
		<key>flurryTag</key>
		<string>Tree World</string>
		<key>imageURL</key>
		<string>http://s3.amazonaws.com/zombiefarm-website/facebook/goffyX.png</string>
		<key>initialSpawnClass</key>
		<string>TreeWorldStageTurtleObstacleActor</string>
		<key>introText</key>
		<string>Goffy, the dastardly forest fairy, has kidnapped critters from Tree World! Stop her from draining their good nature and replacing it with finely-crafted fairy evil!</string>
		<key>invasionFailedText</key>
		<string>Oh no! Goffy has gotten away with her nefarious plan…for now. Get back as soon as you can to put a stop to her wicked ways!</string>
		<key>invasionSuccessText</key>
		<string>Victory! Goffy will think twice before she tries that trick again! Or she would if she weren&apos;t so dastardly. 
Evil forest fairies aren&apos;t big on learning from their mistakes.</string>
		<key>level</key>
		<integer>8</integer>
		<key>levelAssets</key>
		<array>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>sprite</key>
				<string>invasion_treeworld_bg.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,0}</string>
				<key>position</key>
				<string>{480,0}</string>
				<key>sprite</key>
				<string>invasion_treeworld_bgfront.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>loot</key>
		<array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Bunnypig Bush</string>
			</array>
			<array>
				<string>Invasion Voucher</string>
				<string>Insta-Grow</string>
				<string>Insta-Plow</string>
				<string>Insta-Harvest</string>
			</array>
			<array>
				<string>Cobrahawk Bush</string>
				<string>Mosscrab Bush</string>
			</array>
			<array>
				<string>Phoenix Statue</string>
			</array>
			<array>
				<string>Poppy&apos;s House</string>
			</array>
		</array>
		<key>name</key>
		<string>Seasonal: Tree World</string>
		<key>obstacleLimit</key>
		<integer>3</integer>
		<key>obstacleSpawnTimer</key>
		<integer>20</integer>
		<key>reccomendedLevel</key>
		<string>8</string>
		<key>seasonal</key>
		<true/>
		<key>xp</key>
		<integer>500</integer>
		<key>zombieAttackPosition</key>
		<string>{428,5}</string>
		<key>stageSettings</key>
		<array>
			<dict>
				<key>bossKey</key>
				<string>TreeWorldStageBossActor</string>
				<key>stageActorsDisabled</key>
				<true/>
				<key>population</key>
				<integer>8</integer>
				<key>throwSpeed</key>
				<real>1.5</real>
				<key>enemies</key>
				<array>
					<dict>
						<key>enemy</key>
						<string>TreeWorldStageZobraActor</string>
						<key>frequency</key>
						<integer>34</integer>
					</dict>
					<dict>
						<key>enemy</key>
						<string>TreeWorldStageMantisActor</string>
						<key>frequency</key>
						<integer>33</integer>
					</dict>
					<dict>
						<key>enemy</key>
						<string>TreeWorldStageRaccoonActor</string>
						<key>frequency</key>
						<integer>33</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>boss</key>
		<string>ValentinesDayStageActorBoss</string>
		<key>hide</key>
		<true/>
		<key>bossHeadPortrait</key>
		<string>portrait_cook.png</string>
		<key>bossHeadSprite</key>
		<string>start_invasion_icon_cook.png</string>
		<key>bossName</key>
		<string>Felix Wonky</string>
		<key>ID</key>
		<integer>11</integer>
		<key>bossPosition</key>
		<string>{431,125}</string>
		<key>enemyIcon</key>
		<string>enemy_icon_cook.png</string>
		<key>enemyPosition</key>
		<string>{420,32}</string>
		<key>enemySpawnPosition</key>
		<string>{585,32}</string>
		<key>flurryTag</key>
		<string>Valentines</string>
		<key>imageURL</key>
		<string>http://s3.amazonaws.com/zombiefarm-website/facebook/cookX.png</string>
		<key>initialSpawnClass</key>
		<string>ValentinesDayStageActorObstacle</string>
		<key>introText</key>
		<string>The evil chocolatier, Felix Wonky, has declared that zombies don&apos;t deserve love! Get over to his shop and cost him a fortune in fudge!</string>
		<key>obstacleActors</key>
		<dict>
			<key>ValentinesDayStageActorObstacle</key>
			<dict>
				<key>animationFrameList</key>
				<string>ValentinesStage2012.plist</string>
				<key>animationFrames</key>
				<array>
					<string>geyserWall_01.png</string>
					<string>geyserWall_02.png</string>
					<string>geyserWall_03.png</string>
					<string>geyserWall_04.png</string>
				</array>
				<key>animationSheet</key>
				<string>ValentinesStage2012.png</string>
				<key>animationSpeed</key>
				<real>0.1</real>
			</dict>
		</dict>
		<key>reward</key>
		<integer>1200</integer>
		<key>obstacleLimit</key>
		<integer>1</integer>
		<key>obstacleSpawnTimer</key>
		<integer>10</integer>
		<key>invasionFailedText</key>
		<string>Goodbye, zombies. Adieu. Aufwiedersehen.  Gesundheit. Farewell.</string>
		<key>invasionSuccessText</key>
		<string>That battle was 93% perspiration, 6% zombies, 4% horrible violence, and 2% butterscotch ripple.</string>
		<key>level</key>
		<integer>8</integer>
		<key>levelAssets</key>
		<array>
			<dict>
				<key>anchor</key>
				<string>{0,0}</string>
				<key>position</key>
				<string>{0,0}</string>
				<key>sprite</key>
				<string>fightBGValentines2012_00.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>anchor</key>
				<string>{1,0}</string>
				<key>position</key>
				<string>{480,0}</string>
				<key>sprite</key>
				<string>fightBGValentines2012_01.png</string>
				<key>z</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>loot</key>
		<array>
			<array>
				<string>Bonus Gold</string>
			</array>
			<array>
				<string>Invasion Voucher</string>
				<string>Golden Dice</string>
				<string>Invasion Voucher</string>
			</array>
			<array>
				<string>Heart Hedge</string>
			</array>
			<array>
				<string>Heart Candle</string>
			</array>
			<array>
				<string>Teddy Valentine</string>
			</array>
			<array>
				<string>Love Shack</string>
			</array>
		</array>
		<key>name</key>
		<string>Seasonal : Valentine&apos;s Day</string>
		<key>reccomendedLevel</key>
		<string>8</string>
		<key>seasonal</key>
		<true/>
		<key>xp</key>
		<integer>500</integer>
		<key>zombieAttackPosition</key>
		<string>{428,5}</string>
		<key>stageSettings</key>
		<array>
			<dict>
				<key>bossKey</key>
				<string>ValentinesDayStageActorBoss</string>
				<key>stageActorsDisabled</key>
				<true/>
				<key>population</key>
				<integer>8</integer>
				<key>throwSpeed</key>
				<real>1.5</real>
				<key>enemies</key>
				<array>
					<dict>
						<key>enemy</key>
						<string>ValentinesDayStageActorMinion1</string>
						<key>frequency</key>
						<integer>34</integer>
					</dict>
					<dict>
						<key>enemy</key>
						<string>ValentinesDayStageActorMinion2</string>
						<key>frequency</key>
						<integer>33</integer>
					</dict>
					<dict>
						<key>enemy</key>
						<string>ValentinesDayStageActorMinion3</string>
						<key>frequency</key>
						<integer>33</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
