<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Female_Lake_zombie_BODY.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>32</integer>
		<key>offsetX</key>
		<integer>10</integer>
		<key>offsetY</key>
		<integer>13</integer>
		<key>pivotX</key>
		<real>0.53747069835662842</real>
		<key>pivotY</key>
		<real>0.24979004263877869</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>32</integer>
		<key>x</key>
		<integer>78</integer>
		<key>y</key>
		<integer>33</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>Female_Lake_zombie_FOOT.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>14</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>8</integer>
		<key>pivotX</key>
		<real>0.35503467917442322</real>
		<key>pivotY</key>
		<real>0.71752220392227173</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>18</integer>
		<key>x</key>
		<integer>110</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>Female_Lake_zombie_FOOT.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>4</integer>
		<key>height</key>
		<integer>14</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>8</integer>
		<key>pivotX</key>
		<real>-0.21679686009883881</real>
		<key>pivotY</key>
		<real>0.77862727642059326</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>18</integer>
		<key>x</key>
		<integer>110</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>Female_Lake_zombie_FRNT_arm.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>31</integer>
		<key>offsetX</key>
		<integer>9</integer>
		<key>offsetY</key>
		<integer>28</integer>
		<key>pivotX</key>
		<real>0.61151039600372314</real>
		<key>pivotY</key>
		<real>0.75591263175010681</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>30</integer>
		<key>x</key>
		<integer>78</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>Female_Lake_zombie_head.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>43</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>pivotX</key>
		<real>0.62916333414614201</real>
		<key>pivotY</key>
		<real>0.050417836755514145</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>76</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
