<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hula_zombie_Back_Arm.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>16</integer>
		<key>offsetX</key>
		<integer>-3</integer>
		<key>offsetY</key>
		<integer>25</integer>
		<key>pivotX</key>
		<real>0.93000000000000005</real>
		<key>pivotY</key>
		<real>0.76000000000000001</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>26</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>64</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>Hula_zombie_Body.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>40</integer>
		<key>offsetX</key>
		<integer>10</integer>
		<key>offsetY</key>
		<integer>13</integer>
		<key>pivotX</key>
		<real>0.53421187400817871</real>
		<key>pivotY</key>
		<real>0.51119146309792995</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>46</integer>
		<key>x</key>
		<integer>66</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>Hula_zombie_FOOT.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>13</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>9</integer>
		<key>pivotX</key>
		<real>0.47421872615814209</real>
		<key>pivotY</key>
		<real>1.6319710537791252</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>20</integer>
		<key>x</key>
		<integer>27</integer>
		<key>y</key>
		<integer>89</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>Hula_zombie_FOOT.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>13</integer>
		<key>offsetX</key>
		<integer>16</integer>
		<key>offsetY</key>
		<integer>9</integer>
		<key>pivotX</key>
		<real>0.75019538402557373</real>
		<key>pivotY</key>
		<real>1.6887623742222786</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>20</integer>
		<key>x</key>
		<integer>27</integer>
		<key>y</key>
		<integer>89</integer>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<key>Hula_zombie_Front_Arm.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>22</integer>
		<key>offsetX</key>
		<integer>9</integer>
		<key>offsetY</key>
		<integer>28</integer>
		<key>pivotX</key>
		<real>0.79927077516913414</real>
		<key>pivotY</key>
		<real>0.8105539083480835</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>30</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>40</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>Hula_zombie_Hair.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>38</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>-2</integer>
		<key>pivotX</key>
		<real>0.6859130859375</real>
		<key>pivotY</key>
		<real>-0.22060023248195648</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>64</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<key>Hula_zombie_Hair_left.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>46</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>pivotX</key>
		<real>0.060156464576721191</real>
		<key>pivotY</key>
		<real>0.36226233839988708</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>25</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>82</integer>
		<key>z</key>
		<integer>-6</integer>
	</dict>
	<key>Hula_zombie_Hair_right.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>47</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>pivotX</key>
		<real>1.48868552967906</real>
		<key>pivotY</key>
		<real>0.45179522037506104</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>29</integer>
		<key>x</key>
		<integer>32</integer>
		<key>y</key>
		<integer>40</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
