<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>irishflag0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 7}, {24, 79}}</string>
			<key>spriteOffset</key>
			<string>{-15, -3}</string>
			<key>spriteSize</key>
			<string>{24, 79}</string>
			<key>spriteSourceSize</key>
			<string>{58, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 0}, {24, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>irishflag1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 7}, {42, 43}}</string>
			<key>spriteOffset</key>
			<string>{7, 15}</string>
			<key>spriteSize</key>
			<string>{42, 43}</string>
			<key>spriteSourceSize</key>
			<string>{58, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 0}, {42, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>irishflag2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 7}, {44, 43}}</string>
			<key>spriteOffset</key>
			<string>{7, 15}</string>
			<key>spriteSize</key>
			<string>{44, 43}</string>
			<key>spriteSourceSize</key>
			<string>{58, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 81}, {44, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>irishflag3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {44, 45}}</string>
			<key>spriteOffset</key>
			<string>{7, 17}</string>
			<key>spriteSize</key>
			<string>{44, 45}</string>
			<key>spriteSourceSize</key>
			<string>{58, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {44, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>irishflag4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {44, 45}}</string>
			<key>spriteOffset</key>
			<string>{7, 17}</string>
			<key>spriteSize</key>
			<string>{44, 45}</string>
			<key>spriteSourceSize</key>
			<string>{58, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 47}, {44, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>irishflag</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{128, 128}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>name</key>
			<string>default</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>default</string>
		</dict>
		<key>version</key>
		<string>1.5 GM</string>
	</dict>
</dict>
</plist>
