<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>J.Hancock_BODY.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>35</integer>
		<key>offsetX</key>
		<integer>10</integer>
		<key>offsetY</key>
		<integer>13</integer>
		<key>pivotX</key>
		<real>0.63</real>
		<key>pivotY</key>
		<real>0.34000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>42</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>47</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>J.Hancock_B_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>17</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>26</integer>
		<key>pivotX</key>
		<real>1.0347714424133301</real>
		<key>pivotY</key>
		<real>0.87328123301267624</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>28</integer>
		<key>x</key>
		<integer>66</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>J.Hancock_FOOT.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>12</integer>
		<key>offsetX</key>
		<integer>-3</integer>
		<key>offsetY</key>
		<integer>7</integer>
		<key>pivotX</key>
		<real>0.63888883590698242</real>
		<key>pivotY</key>
		<real>0.90000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>18</integer>
		<key>x</key>
		<integer>96</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>J.Hancock_FOOT.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>12</integer>
		<key>offsetX</key>
		<integer>16</integer>
		<key>offsetY</key>
		<integer>8</integer>
		<key>pivotX</key>
		<real>1.2215712070465088</real>
		<key>pivotY</key>
		<real>1.0263021364808083</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>18</integer>
		<key>x</key>
		<integer>96</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<key>J.Hancock_F_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>28</integer>
		<key>offsetX</key>
		<integer>9</integer>
		<key>offsetY</key>
		<integer>28</integer>
		<key>pivotX</key>
		<real>0.90187518112361431</real>
		<key>pivotY</key>
		<real>0.54142850637435913</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>55</integer>
		<key>x</key>
		<integer>44</integer>
		<key>y</key>
		<integer>47</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>J.Hancock_HAIR.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>45</integer>
		<key>offsetX</key>
		<integer>-14</integer>
		<key>offsetY</key>
		<integer>17</integer>
		<key>pivotX</key>
		<real>0.41400146484375</real>
		<key>pivotY</key>
		<real>0.58715271949768066</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>64</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>6</integer>
	</dict>
</dict>
</plist>
