<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>male_Lake_zombie_BODY.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>34</integer>
		<key>offsetX</key>
		<integer>10</integer>
		<key>offsetY</key>
		<integer>13</integer>
		<key>pivotX</key>
		<real>0.63</real>
		<key>pivotY</key>
		<real>0.34000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>34</integer>
		<key>x</key>
		<integer>56</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>male_Lake_zombie_FOOT.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>14</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>8</integer>
		<key>pivotX</key>
		<real>0.42865952849388123</real>
		<key>pivotY</key>
		<real>0.89497760683298111</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>19</integer>
		<key>x</key>
		<integer>33</integer>
		<key>y</key>
		<integer>27</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>male_Lake_zombie_FOOT.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>4</integer>
		<key>height</key>
		<integer>14</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>8</integer>
		<key>pivotX</key>
		<real>-0.054893039166927338</real>
		<key>pivotY</key>
		<real>0.88716510683298111</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>19</integer>
		<key>x</key>
		<integer>33</integer>
		<key>y</key>
		<integer>27</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>male_Lake_zombie_FRNT_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>9</integer>
		<key>offsetY</key>
		<integer>28</integer>
		<key>pivotX</key>
		<real>0.78899702429771423</real>
		<key>pivotY</key>
		<real>0.52247387170791626</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>31</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>27</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>male_Lake_zombie_HEAD_gear.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>25</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>pivotX</key>
		<real>0.71535010263323784</real>
		<key>pivotY</key>
		<real>-0.36812496185302734</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>54</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
