<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Master_Ninjombie_BACK_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>23</integer>
		<key>offsetX</key>
		<integer>-4</integer>
		<key>offsetY</key>
		<integer>30</integer>
		<key>pivotX</key>
		<real>0.95941182784736156</real>
		<key>pivotY</key>
		<real>0.53700411319732666</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>34</integer>
		<key>x</key>
		<integer>83</integer>
		<key>y</key>
		<integer>73</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>Master_Ninjombie_BODY.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>38</integer>
		<key>offsetX</key>
		<integer>12</integer>
		<key>offsetY</key>
		<integer>16</integer>
		<key>pivotX</key>
		<real>0.74627910926938057</real>
		<key>pivotY</key>
		<real>0.28788241744041443</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>43</integer>
		<key>x</key>
		<integer>83</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>Master_Ninjombie_FLAG.png</key>
	<dict>
		<key>actorTag</key>
		<integer>10</integer>
		<key>height</key>
		<integer>125</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>pivotX</key>
		<real>0.31428474187850952</real>
		<key>pivotY</key>
		<real>-0.075656228698790073</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>81</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>Master_Ninjombie_FOOT_B.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>14</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>pivotX</key>
		<real>0.79557294026017189</real>
		<key>pivotY</key>
		<real>0.8285713791847229</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>21</integer>
		<key>x</key>
		<integer>83</integer>
		<key>y</key>
		<integer>98</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>Master_Ninjombie_FOOT_F.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>14</integer>
		<key>offsetX</key>
		<integer>15</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>pivotX</key>
		<real>0.79557294026017189</real>
		<key>pivotY</key>
		<real>0.8285713791847229</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>21</integer>
		<key>x</key>
		<integer>83</integer>
		<key>y</key>
		<integer>98</integer>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<key>Master_Ninjombie_FRONT_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>31</integer>
		<key>offsetX</key>
		<integer>11</integer>
		<key>offsetY</key>
		<integer>34</integer>
		<key>pivotX</key>
		<real>0.83243922144174576</real>
		<key>pivotY</key>
		<real>0.55870997905731201</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>41</integer>
		<key>x</key>
		<integer>83</integer>
		<key>y</key>
		<integer>40</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>Master_Ninjombie_HEAD.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>61</integer>
		<key>offsetX</key>
		<integer>7</integer>
		<key>offsetY</key>
		<integer>43</integer>
		<key>pivotX</key>
		<real>0.56693887244910002</real>
		<key>pivotY</key>
		<real>0.22918033599853516</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>98</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>127</integer>
		<key>z</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
