<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>pet_egyptiancat_blink_fr01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 58}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_blink_fr02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 174}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_blink_fr03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_blink_fr04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 116}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_blink_fr05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{213, 58}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_idle_fr01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{213, 174}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_idle_fr02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 0}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_idle_fr03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 58}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_idle_fr04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{213, 0}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_idle_fr05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 58}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_walk_fr01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 0}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_walk_fr02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 116}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_walk_fr03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 174}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_walk_fr04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 116}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_walk_fr05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{71, 0}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_walk_fr06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{213, 116}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_egyptiancat_walk_fr07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {69, 56}}</string>
			<key>spriteOffset</key>
			<string>{-17, 14}</string>
			<key>spriteSize</key>
			<string>{69, 56}</string>
			<key>spriteSourceSize</key>
			<string>{105, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 174}, {69, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>mau</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>mau_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>mau_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>