<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>merzombie_B_ARm.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>23</integer>
		<key>offsetX</key>
		<integer>-4</integer>
		<key>offsetY</key>
		<integer>30</integer>
		<key>pivotX</key>
		<real>0.93000000000000005</real>
		<key>pivotY</key>
		<real>0.76000000000000001</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>31</integer>
		<key>x</key>
		<integer>47</integer>
		<key>y</key>
		<integer>70</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>merzombie_F_ARm.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>28</integer>
		<key>offsetX</key>
		<integer>11</integer>
		<key>offsetY</key>
		<integer>37</integer>
		<key>pivotX</key>
		<real>0.62791663408279419</real>
		<key>pivotY</key>
		<real>0.81654024124145508</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>45</integer>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>42</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>merzombie_body.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>40</integer>
		<key>offsetX</key>
		<integer>12</integer>
		<key>offsetY</key>
		<integer>16</integer>
		<key>pivotX</key>
		<real>0.63</real>
		<key>pivotY</key>
		<real>0.34000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>43</integer>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>merzombie_eyes.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>17</integer>
		<key>offsetX</key>
		<integer>-23</integer>
		<key>offsetY</key>
		<integer>15</integer>
		<key>pivotX</key>
		<real>0.5</real>
		<key>pivotY</key>
		<real>0.5</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>41</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>89</integer>
		<key>z</key>
		<integer>5</integer>
	</dict>
	<key>merzombie_foot.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>16</integer>
		<key>offsetX</key>
		<integer>-3</integer>
		<key>offsetY</key>
		<integer>5</integer>
		<key>pivotX</key>
		<real>0.11409499123692513</real>
		<key>pivotY</key>
		<real>0.92539072036743164</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>24</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>108</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>merzombie_foot.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>4</integer>
		<key>height</key>
		<integer>16</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>5</integer>
		<key>pivotX</key>
		<real>0.75</real>
		<key>pivotY</key>
		<real>0.90000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>24</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>108</integer>
		<key>z</key>
		<integer>-16</integer>
	</dict>
	<key>merzombie_head.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>68</integer>
		<key>offsetX</key>
		<integer>7</integer>
		<key>offsetY</key>
		<integer>43</integer>
		<key>pivotX</key>
		<real>0.71999999999999997</real>
		<key>pivotY</key>
		<real>0.17999999999999999</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>78</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>4</integer>
	</dict>
	<key>merzombie_jaw.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>17</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>-4</integer>
		<key>pivotX</key>
		<real>0.95225697569549084</real>
		<key>pivotY</key>
		<real>0.84774816036224365</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>45</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>70</integer>
		<key>z</key>
		<integer>6</integer>
	</dict>
</dict>
</plist>
