<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>pet_monkey_blink_fr01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 5}, {42, 44}}</string>
			<key>spriteOffset</key>
			<string>{8, -0}</string>
			<key>spriteSize</key>
			<string>{42, 44}</string>
			<key>spriteSourceSize</key>
			<string>{66, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{197, 48}, {42, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_blink_fr02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 7}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{6, -1}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{66, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 182}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_blink_fr03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {52, 44}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{52, 44}</string>
			<key>spriteSourceSize</key>
			<string>{66, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {52, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_blink_fr04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {46, 44}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{46, 44}</string>
			<key>spriteSourceSize</key>
			<string>{66, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 46}, {46, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_blink_fr05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {38, 44}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{38, 44}</string>
			<key>spriteSourceSize</key>
			<string>{66, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 182}, {38, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_blink_fr06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {38, 44}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{38, 44}</string>
			<key>spriteSourceSize</key>
			<string>{66, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 94}, {38, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_blink_fr07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 6}, {40, 42}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{40, 42}</string>
			<key>spriteSourceSize</key>
			<string>{66, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 138}, {40, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_blink_fr08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 5}, {46, 44}}</string>
			<key>spriteOffset</key>
			<string>{10, -0}</string>
			<key>spriteSize</key>
			<string>{46, 44}</string>
			<key>spriteSourceSize</key>
			<string>{66, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{48, 46}, {46, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_idle_fr01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 5}, {41, 44}}</string>
			<key>spriteOffset</key>
			<string>{8, -0}</string>
			<key>spriteSize</key>
			<string>{41, 44}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 92}, {41, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_idle_fr02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {41, 44}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{41, 44}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 136}, {41, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_idle_fr03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 5}, {39, 44}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{39, 44}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{44, 182}, {39, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_idle_fr04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 5}, {39, 44}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{39, 44}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 182}, {39, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_idle_fr05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 5}, {41, 44}}</string>
			<key>spriteOffset</key>
			<string>{8, -0}</string>
			<key>spriteSize</key>
			<string>{41, 44}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{45, 92}, {41, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_walk_fr01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 7}, {41, 42}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{41, 42}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{43, 138}, {41, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_walk_fr02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 4}, {43, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{43, 46}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 46}, {43, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_walk_fr03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 4}, {45, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 46}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{105, 0}, {45, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_walk_fr04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {49, 44}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{49, 44}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{54, 0}, {49, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_walk_fr05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {45, 44}}</string>
			<key>spriteOffset</key>
			<string>{-9, -1}</string>
			<key>spriteSize</key>
			<string>{45, 44}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 0}, {45, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_walk_fr06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {43, 46}}</string>
			<key>spriteOffset</key>
			<string>{-8, -2}</string>
			<key>spriteSize</key>
			<string>{43, 46}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{199, 0}, {43, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_walk_fr07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {45, 42}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{45, 42}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 48}, {45, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>pet_monkey_walk_fr08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {43, 42}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{43, 42}</string>
			<key>spriteSourceSize</key>
			<string>{65, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 92}, {43, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
		<key>name</key>
		<string>monkey</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>monkey_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>monkey_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>