<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NINJOMBIE_BACK_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>22</integer>
		<key>offsetX</key>
		<integer>-4</integer>
		<key>offsetY</key>
		<integer>30</integer>
		<key>pivotX</key>
		<real>0.98882356099784374</real>
		<key>pivotY</key>
		<real>0.85090911388397217</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>34</integer>
		<key>x</key>
		<integer>86</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>NINJOMBIE_BODY.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>48</integer>
		<key>offsetX</key>
		<integer>12</integer>
		<key>offsetY</key>
		<integer>16</integer>
		<key>pivotX</key>
		<real>0.53740746900439262</real>
		<key>pivotY</key>
		<real>0.2774999737739563</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>54</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>61</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>NINJOMBIE_FOOT_B.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>15</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>pivotX</key>
		<real>0.6547619104385376</real>
		<key>pivotY</key>
		<real>0.83333330601453781</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>21</integer>
		<key>x</key>
		<integer>86</integer>
		<key>y</key>
		<integer>24</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>NINJOMBIE_FOOT_F.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>15</integer>
		<key>offsetX</key>
		<integer>19</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>pivotX</key>
		<real>0.7976190447807312</real>
		<key>pivotY</key>
		<real>0.83333330601453781</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>21</integer>
		<key>x</key>
		<integer>86</integer>
		<key>y</key>
		<integer>24</integer>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<key>NINJOMBIE_FRONT_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>11</integer>
		<key>offsetY</key>
		<integer>34</integer>
		<key>pivotX</key>
		<real>0.90368418022990227</real>
		<key>pivotY</key>
		<real>0.78666669130325317</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>38</integer>
		<key>x</key>
		<integer>56</integer>
		<key>y</key>
		<integer>61</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>NINJOMBIE_HEAD.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>59</integer>
		<key>offsetX</key>
		<integer>7</integer>
		<key>offsetY</key>
		<integer>43</integer>
		<key>pivotX</key>
		<real>0.56574946641921997</real>
		<key>pivotY</key>
		<real>0.29864403046667576</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>84</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
