<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>poseidon_B_Arm.png</key>
	<dict>
		<key>actorTag</key>
		<integer>3</integer>
		<key>height</key>
		<integer>87</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>21</integer>
		<key>pivotX</key>
		<real>0.95501922070980072</real>
		<key>pivotY</key>
		<real>0.33045977912843227</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>66</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>poseidon_F_Arm.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>26</integer>
		<key>offsetX</key>
		<integer>16</integer>
		<key>offsetY</key>
		<integer>29</integer>
		<key>pivotX</key>
		<real>0.84953123331069946</real>
		<key>pivotY</key>
		<real>0.80248191580176353</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>35</integer>
		<key>x</key>
		<integer>68</integer>
		<key>y</key>
		<integer>56</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>poseidon_body.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>40</integer>
		<key>offsetX</key>
		<integer>12</integer>
		<key>offsetY</key>
		<integer>16</integer>
		<key>pivotX</key>
		<real>0.40308226458728313</real>
		<key>pivotY</key>
		<real>0.51402342319488525</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>55</integer>
		<key>x</key>
		<integer>100</integer>
		<key>y</key>
		<integer>84</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>poseidon_eyes.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>16</integer>
		<key>offsetX</key>
		<integer>-17</integer>
		<key>offsetY</key>
		<integer>8</integer>
		<key>pivotX</key>
		<real>0.48285060375928879</real>
		<key>pivotY</key>
		<real>0.46728515625</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>41</integer>
		<key>x</key>
		<integer>105</integer>
		<key>y</key>
		<integer>56</integer>
		<key>z</key>
		<integer>5</integer>
	</dict>
	<key>poseidon_foot.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>15</integer>
		<key>offsetX</key>
		<integer>2</integer>
		<key>offsetY</key>
		<integer>1</integer>
		<key>pivotX</key>
		<real>0.607421875</real>
		<key>pivotY</key>
		<real>0.84062475711107254</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>20</integer>
		<key>x</key>
		<integer>51</integer>
		<key>y</key>
		<integer>113</integer>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<key>poseidon_foot.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>7</integer>
		<key>height</key>
		<integer>15</integer>
		<key>offsetX</key>
		<integer>15</integer>
		<key>offsetY</key>
		<integer>1</integer>
		<key>pivotX</key>
		<real>0.607421875</real>
		<key>pivotY</key>
		<real>0.84062475711107254</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>20</integer>
		<key>x</key>
		<integer>51</integer>
		<key>y</key>
		<integer>113</integer>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<key>poseidon_hair.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>54</integer>
		<key>offsetX</key>
		<integer>-15</integer>
		<key>offsetY</key>
		<integer>26</integer>
		<key>pivotX</key>
		<real>0.48795118927955627</real>
		<key>pivotY</key>
		<real>0.6247105710208416</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>71</integer>
		<key>x</key>
		<integer>68</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>poseidon_head.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>53</integer>
		<key>offsetX</key>
		<integer>7</integer>
		<key>offsetY</key>
		<integer>43</integer>
		<key>pivotX</key>
		<real>0.68914066068828106</real>
		<key>pivotY</key>
		<real>0.3434729129076004</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>60</integer>
		<key>x</key>
		<integer>141</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>4</integer>
	</dict>
	<key>poseidon_jaw.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>29</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>-1</integer>
		<key>pivotX</key>
		<real>0.80000000000000004</real>
		<key>pivotY</key>
		<real>0.94999999999999996</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>49</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>89</integer>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<key>poseidon_mustache.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>22</integer>
		<key>offsetX</key>
		<integer>-18</integer>
		<key>offsetY</key>
		<integer>-4</integer>
		<key>pivotX</key>
		<real>0.50157910585403442</real>
		<key>pivotY</key>
		<real>0.69176141917705536</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>47</integer>
		<key>x</key>
		<integer>51</integer>
		<key>y</key>
		<integer>89</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
