<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROTO_zombie_BackArm.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>23</integer>
		<key>offsetX</key>
		<integer>-4</integer>
		<key>offsetY</key>
		<integer>30</integer>
		<key>pivotX</key>
		<real>0.84666663408279419</real>
		<key>pivotY</key>
		<real>0.76000000000000001</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>36</integer>
		<key>x</key>
		<integer>65</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>PROTO_zombie_Body.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>41</integer>
		<key>offsetX</key>
		<integer>12</integer>
		<key>offsetY</key>
		<integer>16</integer>
		<key>pivotX</key>
		<real>0.63</real>
		<key>pivotY</key>
		<real>0.34000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>40</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>81</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>PROTO_zombie_EYES.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>21</integer>
		<key>offsetX</key>
		<integer>-28</integer>
		<key>offsetY</key>
		<integer>13</integer>
		<key>pivotX</key>
		<real>0.21874988824129105</real>
		<key>pivotY</key>
		<real>0.42224708199501038</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>44</integer>
		<key>x</key>
		<integer>65</integer>
		<key>y</key>
		<integer>25</integer>
		<key>z</key>
		<integer>5</integer>
	</dict>
	<key>PROTO_zombie_Foot.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>14</integer>
		<key>offsetX</key>
		<integer>19</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>pivotX</key>
		<real>0.75</real>
		<key>pivotY</key>
		<real>0.90000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>22</integer>
		<key>x</key>
		<integer>42</integer>
		<key>y</key>
		<integer>112</integer>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<key>PROTO_zombie_Foot.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>14</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>pivotX</key>
		<real>0.52947437763214111</real>
		<key>pivotY</key>
		<real>0.85228794813156128</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>22</integer>
		<key>x</key>
		<integer>42</integer>
		<key>y</key>
		<integer>112</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>PROTO_zombie_FrontArm.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>29</integer>
		<key>offsetX</key>
		<integer>11</integer>
		<key>offsetY</key>
		<integer>34</integer>
		<key>pivotX</key>
		<real>0.68832635879516602</real>
		<key>pivotY</key>
		<real>0.77616922184824944</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>38</integer>
		<key>x</key>
		<integer>42</integer>
		<key>y</key>
		<integer>81</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>PROTO_zombie_HEAD.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>79</integer>
		<key>offsetX</key>
		<integer>7</integer>
		<key>offsetY</key>
		<integer>43</integer>
		<key>pivotX</key>
		<real>0.71999999999999997</real>
		<key>pivotY</key>
		<real>0.17999999999999999</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>63</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
