<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VIKING_F_BCK_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>18</integer>
		<key>offsetX</key>
		<integer>-3</integer>
		<key>offsetY</key>
		<integer>25</integer>
		<key>pivotX</key>
		<real>0.9633331298828125</real>
		<key>pivotY</key>
		<real>0.55405372381210327</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>30</integer>
		<key>x</key>
		<integer>84</integer>
		<key>y</key>
		<integer>49</integer>
		<key>z</key>
		<integer>-4</integer>
	</dict>
	<key>VIKING_F_BODY.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>33</integer>
		<key>offsetX</key>
		<integer>10</integer>
		<key>offsetY</key>
		<integer>13</integer>
		<key>pivotX</key>
		<real>0.60547743923962116</real>
		<key>pivotY</key>
		<real>0.33633050322532654</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>36</integer>
		<key>x</key>
		<integer>54</integer>
		<key>y</key>
		<integer>75</integer>
		<key>z</key>
		<integer>-2</integer>
	</dict>
	<key>VIKING_F_FNT_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>29</integer>
		<key>offsetX</key>
		<integer>9</integer>
		<key>offsetY</key>
		<integer>28</integer>
		<key>pivotX</key>
		<real>0.72024634480476379</real>
		<key>pivotY</key>
		<real>0.54058194160461426</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>33</integer>
		<key>x</key>
		<integer>92</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>VIKING_F_FOOT.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>13</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>8</integer>
		<key>pivotX</key>
		<real>0.50246715545654297</real>
		<key>pivotY</key>
		<real>0.77710330486297607</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>19</integer>
		<key>x</key>
		<integer>63</integer>
		<key>y</key>
		<integer>40</integer>
		<key>z</key>
		<integer>-4</integer>
	</dict>
	<key>VIKING_F_FOOT.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>13</integer>
		<key>offsetX</key>
		<integer>16</integer>
		<key>offsetY</key>
		<integer>8</integer>
		<key>pivotX</key>
		<real>0.84765619039535522</real>
		<key>pivotY</key>
		<real>0.81676685810089111</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>19</integer>
		<key>x</key>
		<integer>63</integer>
		<key>y</key>
		<integer>40</integer>
		<key>z</key>
		<integer>-4</integer>
	</dict>
	<key>VIKING_F_HAIR.png</key>
	<dict>
		<key>actorTag</key>
		<integer>18</integer>
		<key>height</key>
		<integer>73</integer>
		<key>offsetX</key>
		<integer>-7</integer>
		<key>offsetY</key>
		<integer>22</integer>
		<key>pivotX</key>
		<real>0.5</real>
		<key>pivotY</key>
		<real>0.5</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>61</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>VIKING_F_HAIR_BRAID.png</key>
	<dict>
		<key>actorTag</key>
		<integer>17</integer>
		<key>height</key>
		<integer>38</integer>
		<key>offsetX</key>
		<integer>-33</integer>
		<key>offsetY</key>
		<integer>9</integer>
		<key>pivotX</key>
		<real>0.5</real>
		<key>pivotY</key>
		<real>0.5</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>20</integer>
		<key>x</key>
		<integer>63</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>-5</integer>
	</dict>
</dict>
</plist>
