<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZOMBUG_BackArm.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>23</integer>
		<key>offsetX</key>
		<integer>-4</integer>
		<key>offsetY</key>
		<integer>30</integer>
		<key>pivotX</key>
		<real>0.84498137235641479</real>
		<key>pivotY</key>
		<real>0.853410255163908</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>34</integer>
		<key>x</key>
		<integer>89</integer>
		<key>y</key>
		<integer>63</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>ZOMBUG_Body.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>41</integer>
		<key>offsetX</key>
		<integer>12</integer>
		<key>offsetY</key>
		<integer>16</integer>
		<key>pivotX</key>
		<real>0.63</real>
		<key>pivotY</key>
		<real>0.34000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>46</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>77</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>ZOMBUG_Foot.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>13</integer>
		<key>offsetX</key>
		<integer>19</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>pivotX</key>
		<real>0.75</real>
		<key>pivotY</key>
		<real>1.0538461208343506</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>21</integer>
		<key>x</key>
		<integer>48</integer>
		<key>y</key>
		<integer>109</integer>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<key>ZOMBUG_Foot.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>7</integer>
		<key>height</key>
		<integer>13</integer>
		<key>offsetX</key>
		<integer>19</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>pivotX</key>
		<real>1.5204614400863647</real>
		<key>pivotY</key>
		<real>1.05925452709198</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>21</integer>
		<key>x</key>
		<integer>48</integer>
		<key>y</key>
		<integer>109</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>ZOMBUG_FrontArm.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>12</integer>
		<key>offsetY</key>
		<integer>34</integer>
		<key>pivotX</key>
		<real>0.81291252374649048</real>
		<key>pivotY</key>
		<real>0.77416670322418213</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>39</integer>
		<key>x</key>
		<integer>48</integer>
		<key>y</key>
		<integer>77</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>ZOMBUG_Head.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>61</integer>
		<key>offsetX</key>
		<integer>7</integer>
		<key>offsetY</key>
		<integer>43</integer>
		<key>pivotX</key>
		<real>0.71999999999999997</real>
		<key>pivotY</key>
		<real>0.17999999999999999</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>69</integer>
		<key>x</key>
		<integer>70</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>4</integer>
	</dict>
	<key>ZOMBUG_LowerJaw.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>21</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>-1</integer>
		<key>pivotX</key>
		<real>0.89042556285858154</real>
		<key>pivotY</key>
		<real>0.83002226054668427</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>47</integer>
		<key>x</key>
		<integer>89</integer>
		<key>y</key>
		<integer>88</integer>
		<key>z</key>
		<integer>6</integer>
	</dict>
	<key>ZOMBUG_Wings.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>75</integer>
		<key>offsetX</key>
		<integer>1</integer>
		<key>offsetY</key>
		<integer>9</integer>
		<key>pivotX</key>
		<real>0.057100242935121059</real>
		<key>pivotY</key>
		<real>-0.16817712970077991</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>68</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
