<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZOMDINI_BACK_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>22</integer>
		<key>offsetX</key>
		<integer>-4</integer>
		<key>offsetY</key>
		<integer>30</integer>
		<key>pivotX</key>
		<real>1.0624573826789856</real>
		<key>pivotY</key>
		<real>0.59664756059646606</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>33</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>93</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>ZOMDINI_BODY.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>41</integer>
		<key>offsetX</key>
		<integer>12</integer>
		<key>offsetY</key>
		<integer>16</integer>
		<key>pivotX</key>
		<real>0.63</real>
		<key>pivotY</key>
		<real>0.34000000000000002</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>44</integer>
		<key>x</key>
		<integer>67</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>3</integer>
	</dict>
	<key>ZOMDINI_FOOT.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>18</integer>
		<key>offsetX</key>
		<integer>-1</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>pivotX</key>
		<real>0.34254804253578186</real>
		<key>pivotY</key>
		<real>0.8583332896232605</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>39</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>65</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>ZOMDINI_FOOT.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>18</integer>
		<key>offsetX</key>
		<integer>19</integer>
		<key>offsetY</key>
		<integer>10</integer>
		<key>pivotX</key>
		<real>0.49839746952056885</real>
		<key>pivotY</key>
		<real>0.87287318706512451</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>39</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>65</integer>
		<key>z</key>
		<integer>2</integer>
	</dict>
	<key>ZOMDINI_FRONT_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>16</integer>
		<key>offsetY</key>
		<integer>34</integer>
		<key>pivotX</key>
		<real>0.72587341070175171</real>
		<key>pivotY</key>
		<real>0.56557279825210571</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>39</integer>
		<key>x</key>
		<integer>67</integer>
		<key>y</key>
		<integer>61</integer>
		<key>z</key>
		<integer>7</integer>
	</dict>
	<key>ZOMDINI_HEAD.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>7</integer>
		<key>offsetY</key>
		<integer>43</integer>
		<key>pivotX</key>
		<real>0.71999999999999997</real>
		<key>pivotY</key>
		<real>0.17999999999999999</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>65</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>4</integer>
	</dict>
	<key>ZOMDINI_JAW.png</key>
	<dict>
		<key>actorTag</key>
		<integer>-1</integer>
		<key>height</key>
		<integer>16</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>-1</integer>
		<key>pivotX</key>
		<real>0.90419697761535645</real>
		<key>pivotY</key>
		<real>0.92436522245407104</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>43</integer>
		<key>x</key>
		<integer>67</integer>
		<key>y</key>
		<integer>43</integer>
		<key>z</key>
		<integer>6</integer>
	</dict>
</dict>
</plist>
