<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZWAMP_BODY.png</key>
	<dict>
		<key>actorTag</key>
		<integer>0</integer>
		<key>height</key>
		<integer>36</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>pivotX</key>
		<real>0.27724605798721313</real>
		<key>pivotY</key>
		<real>0.024739546701312065</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>40</integer>
		<key>x</key>
		<integer>56</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>-1</integer>
	</dict>
	<key>ZWAMP_B_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>3</integer>
		<key>height</key>
		<integer>16</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>20</integer>
		<key>pivotX</key>
		<real>0.95837843418121338</real>
		<key>pivotY</key>
		<real>0.687255859375</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>29</integer>
		<key>x</key>
		<integer>98</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>-2</integer>
	</dict>
	<key>ZWAMP_EYES.png</key>
	<dict>
		<key>actorTag</key>
		<integer>13</integer>
		<key>height</key>
		<integer>16</integer>
		<key>offsetX</key>
		<integer>-5</integer>
		<key>offsetY</key>
		<integer>46</integer>
		<key>pivotX</key>
		<real>0.5046657919883728</real>
		<key>pivotY</key>
		<real>0.42578125</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>36</integer>
		<key>x</key>
		<integer>38</integer>
		<key>y</key>
		<integer>87</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>ZWAMP_FEET.png</key>
	<dict>
		<key>actorTag</key>
		<integer>7</integer>
		<key>height</key>
		<integer>12</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>pivotX</key>
		<real>0.46443256735801697</real>
		<key>pivotY</key>
		<real>0.5338541679084301</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>19</integer>
		<key>x</key>
		<integer>98</integer>
		<key>y</key>
		<integer>18</integer>
		<key>z</key>
		<integer>-2</integer>
	</dict>
	<key>ZWAMP_FEET.png+</key>
	<dict>
		<key>actorTag</key>
		<integer>4</integer>
		<key>height</key>
		<integer>12</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>pivotX</key>
		<real>-0.22286183387041092</real>
		<key>pivotY</key>
		<real>0.51822924613952637</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>19</integer>
		<key>x</key>
		<integer>98</integer>
		<key>y</key>
		<integer>18</integer>
		<key>z</key>
		<integer>-2</integer>
	</dict>
	<key>ZWAMP_FORHEAD.png</key>
	<dict>
		<key>actorTag</key>
		<integer>16</integer>
		<key>height</key>
		<integer>21</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>pivotX</key>
		<real>0.64139085821807384</real>
		<key>pivotY</key>
		<real>-2.1402523517608643</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>51</integer>
		<key>x</key>
		<integer>56</integer>
		<key>y</key>
		<integer>38</integer>
		<key>z</key>
		<integer>1</integer>
	</dict>
	<key>ZWAMP_F_ARM.png</key>
	<dict>
		<key>actorTag</key>
		<integer>2</integer>
		<key>height</key>
		<integer>26</integer>
		<key>offsetX</key>
		<integer>20</integer>
		<key>offsetY</key>
		<integer>26</integer>
		<key>pivotX</key>
		<real>0.82248230092227459</real>
		<key>pivotY</key>
		<real>0.5171273946762085</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>36</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>66</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>ZWAMP_HEAD.png</key>
	<dict>
		<key>actorTag</key>
		<integer>1</integer>
		<key>height</key>
		<integer>64</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>pivotX</key>
		<real>0.49088536947965622</real>
		<key>pivotY</key>
		<real>-0.3587646484375</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>54</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>0</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
	<key>ZWAMP_JAW.png</key>
	<dict>
		<key>actorTag</key>
		<integer>15</integer>
		<key>height</key>
		<integer>24</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
		<key>pivotX</key>
		<real>0.56049680709838867</real>
		<key>pivotY</key>
		<real>-0.51692701503634453</real>
		<key>rotation</key>
		<integer>0</integer>
		<key>width</key>
		<integer>39</integer>
		<key>x</key>
		<integer>56</integer>
		<key>y</key>
		<integer>61</integer>
		<key>z</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
